node_modules
bower_components
data/*
model/__pycache__/
model/logs/*
model/results/*
*.zip
nginx_sites/py/__pycache__/
nginx_sites/py/conf.py
nginx_sites/key.php
model/.ipynb_checkpoints/*
*.log
*.json
*.bin
model/results/*.csv
model/focalloss_test.py
model/model.ipynb
model/Modules/__pycache__/
model/pretrained/__pycache__/
model/*.pt
model/bert-cased/
figure/
outputs/
